*.zip
*.mp4
carla/debug_sign_crops
lane_detection_cnn/dataset/
traffic-sign/dataset/
traffic_lights/dataset
traffic_lights/lisa_dataset
traffic_lights/classified_dataset
traffic_sign/dataset
traffic_sign/traffic_env
traffic_sign/yolo_dataset
traffic_lights/yolo_dataset
traffic_lights/dtld_dataset
traffic_lights/colab_dataset
traffic_lights/merged_dataset
traffic_lights/debug_visualizations

